# ETL Processes
Use this notebook to develop the ETL process for each of your tables before completing the `etl.py` file to load the whole datasets.

In [1]:
import os
import glob
import psycopg2
import pandas as pd
from sql_queries import *
from datetime import datetime

In [2]:
conn = psycopg2.connect("host=localhost dbname=sparkifydb user=genie password=123456")
cur = conn.cursor()

In [3]:
def get_files(filepath):
    all_files = []
    for root, dirs, files in os.walk(filepath):
        files = glob.glob(os.path.join(root,'*.json'))
        for f in files :
            all_files.append(os.path.abspath(f))
    
    return all_files

# Process `song_data`
In this first part, you'll perform ETL on the first dataset, `song_data`, to create the `songs` and `artists` dimensional tables.

Let's perform ETL on a single song file and load a single record into each table to start.
- Use the `get_files` function provided above to get a list of all song JSON files in `data/song_data`
- Select the first song in this list
- Read the song file and view the data

In [4]:
song_files = get_files('data/song_data/')

In [5]:
filepath = song_files[1]
filepath

'/Users/genie/hello/data/song_data/A/A/A/TRAAARJ128F9320760.json'

In [6]:
df = pd.read_json(filepath, typ='series')
df.head(10)

num_songs                            1
artist_id           AR8ZCNI1187B9A069B
artist_latitude                   None
artist_longitude                  None
artist_location
artist_name           Planet P Project
song_id             SOIAZJW12AB01853F1
title                       Pink World
duration                     269.81832
year                              1984
dtype: object

## #1: `songs` Table
#### Extract Data for Songs Table
- Select columns for song ID, title, artist ID, year, and duration
- Use `df.values` to select just the values from the dataframe
- Index to select the first (only) record in the dataframe
- Convert the array to a list and set it to `song_data`

In [7]:
song_data = df[["song_id", "artist_id", "year", "duration"]].values
song_data

array(['SOIAZJW12AB01853F1', 'AR8ZCNI1187B9A069B', 1984, 269.81832],
      dtype=object)

#### Insert Record into Song Table
Implement the `song_table_insert` query in `sql_queries.py` and run the cell below to insert a record for this song into the `songs` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `songs` table in the sparkify database.

In [8]:
cur.execute(songs_table_insert, song_data)
conn.commit()

Run `test.ipynb` to see if you've successfully added a record to this table.

## #2: `artists` Table
#### Extract Data for Artists Table
- Select columns for artist ID, name, location, latitude, and longitude
- Use `df.values` to select just the values from the dataframe
- Index to select the first (only) record in the dataframe
- Convert the array to a list and set it to `artist_data`

In [9]:
artist_data = df[["artist_id", "artist_name", "artist_location", "artist_latitude", "artist_longitude"]].values
artist_data

array(['AR8ZCNI1187B9A069B', 'Planet P Project', '', None, None],
      dtype=object)

#### Insert Record into Artist Table
Implement the `artist_table_insert` query in `sql_queries.py` and run the cell below to insert a record for this song's artist into the `artists` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `artists` table in the sparkify database.

In [10]:
cur.execute(artists_table_insert, artist_data)
conn.commit()

Run `test.ipynb` to see if you've successfully added a record to this table.

# Process `log_data`
In this part, you'll perform ETL on the second dataset, `log_data`, to create the `time` and `users` dimensional tables, as well as the `songplays` fact table.

Let's perform ETL on a single log file and load a single record into each table.
- Use the `get_files` function provided above to get a list of all log JSON files in `data/log_data`
- Select the first log file in this list
- Read the log file and view the data

In [11]:
log_files = get_files('data/log_data/')
log_files

['/Users/genie/hello/data/log_data/2018/11/2018-11-11-events.json',
 '/Users/genie/hello/data/log_data/2018/11/2018-11-23-events.json',
 '/Users/genie/hello/data/log_data/2018/11/2018-11-18-events.json',
 '/Users/genie/hello/data/log_data/2018/11/2018-11-04-events.json',
 '/Users/genie/hello/data/log_data/2018/11/2018-11-01-events.json',
 '/Users/genie/hello/data/log_data/2018/11/2018-11-14-events.json',
 '/Users/genie/hello/data/log_data/2018/11/2018-11-08-events.json',
 '/Users/genie/hello/data/log_data/2018/11/2018-11-26-events.json',
 '/Users/genie/hello/data/log_data/2018/11/2018-11-25-events.json',
 '/Users/genie/hello/data/log_data/2018/11/2018-11-17-events.json',
 '/Users/genie/hello/data/log_data/2018/11/2018-11-02-events.json',
 '/Users/genie/hello/data/log_data/2018/11/2018-11-30-events.json',
 '/Users/genie/hello/data/log_data/2018/11/2018-11-07-events.json',
 '/Users/genie/hello/data/log_data/2018/11/2018-11-29-events.json',
 '/Users/genie/hello/data/log_data/2018/11/2018-11-20-events.json',
 '/Users/genie/hello/data/log_data/2018/11/2018-11-12-events.json',
 '/Users/genie/hello/data/log_data/2018/11/2018-11-09-events.json',
 '/Users/genie/hello/data/log_data/2018/11/2018-11-27-events.json',
 '/Users/genie/hello/data/log_data/2018/11/2018-11-15-events.json',
 '/Users/genie/hello/data/log_data/2018/11/2018-11-05-events.json',
 '/Users/genie/hello/data/log_data/2018/11/2018-11-19-events.json',
 '/Users/genie/hello/data/log_data/2018/11/2018-11-22-events.json',
 '/Users/genie/hello/data/log_data/2018/11/2018-11-10-events.json',
 '/Users/genie/hello/data/log_data/2018/11/2018-11-13-events.json',
 '/Users/genie/hello/data/log_data/2018/11/2018-11-21-events.json',
 '/Users/genie/hello/data/log_data/2018/11/2018-11-06-events.json',
 '/Users/genie/hello/data/log_data/2018/11/2018-11-28-events.json',
 '/Users/genie/hello/data/log_data/2018/11/2018-11-03-events.json',
 '/Users/genie/hello/data/log_data/2018/11/2018-11-16-events.json',
 '/Users/genie/hello/data/log_data/2018/11/2018-11-24-events.json']

In [12]:
filepath = log_files[0]
filepath

'/Users/genie/hello/data/log_data/2018/11/2018-11-11-events.json'

In [13]:
df = pd.read_json(filepath, lines=True)
df.head(5)

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,Frumpies,Logged In,Anabelle,F,0,Simpson,134.47791,free,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",PUT,NextSong,1.541044e+12,455,Fuck Kitty,200,1541903636796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",69
1,Kenny G with Peabo Bryson,Logged In,Anabelle,F,1,Simpson,264.75057,free,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",PUT,NextSong,1.541044e+12,455,By The Time This Night Is Over,200,1541903770796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",69
2,Biffy Clyro,Logged In,Anabelle,F,2,Simpson,189.83138,free,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",PUT,NextSong,1.541044e+12,455,God & Satan,200,1541904034796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",69
3,None,Logged In,Lily,F,0,Burns,NaN,free,"New York-Newark-Jersey City, NY-NJ-PA",GET,Home,1.540621e+12,456,None,200,1541910841796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",32
4,HIM,Logged In,Lily,F,1,Burns,212.06159,free,"New York-Newark-Jersey City, NY-NJ-PA",PUT,NextSong,1.540621e+12,456,Beautiful,200,1541910973796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",32

## #3: `time` Table
#### Extract Data for Time Table
- Filter records by `NextSong` action
- Convert the `ts` timestamp column to datetime
  - Hint: the current timestamp is in milliseconds
- Extract the timestamp, hour, day, week of year, month, year, and weekday from the `ts` column and set `time_data` to a list containing these values in order
  - Hint: use pandas' [`dt` attribute](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.dt.html) to access easily datetimelike properties.
- Specify labels for these columns and set to `column_labels`
- Create a dataframe, `time_df,` containing the time data for this file by combining `column_labels` and `time_data` into a dictionary and converting this into a dataframe

In [14]:
df = df[df['page']=='NextSong']
df.head()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,Frumpies,Logged In,Anabelle,F,0,Simpson,134.47791,free,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",PUT,NextSong,1.541044e+12,455,Fuck Kitty,200,1541903636796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",69
1,Kenny G with Peabo Bryson,Logged In,Anabelle,F,1,Simpson,264.75057,free,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",PUT,NextSong,1.541044e+12,455,By The Time This Night Is Over,200,1541903770796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",69
2,Biffy Clyro,Logged In,Anabelle,F,2,Simpson,189.83138,free,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",PUT,NextSong,1.541044e+12,455,God & Satan,200,1541904034796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",69
4,HIM,Logged In,Lily,F,1,Burns,212.06159,free,"New York-Newark-Jersey City, NY-NJ-PA",PUT,NextSong,1.540621e+12,456,Beautiful,200,1541910973796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",32
5,Matmos,Logged In,Joseph,M,0,Gutierrez,1449.11628,free,"Columbia, SC",PUT,NextSong,1.540809e+12,284,Supreme Balloon,200,1541911006796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_3...",75

In [15]:
t = df['ts']
t= pd.to_datetime(t)
t.head()

0   1970-01-01 00:25:41.903636796
1   1970-01-01 00:25:41.903770796
2   1970-01-01 00:25:41.904034796
4   1970-01-01 00:25:41.910973796
5   1970-01-01 00:25:41.911006796
Name: ts, dtype: datetime64[ns]

In [16]:
# Extract the timestamp, hour, day, week of year, month, year, and weekday from the `ts` column and set `time_data` to a list containing these values in order#
# insert time data records
time_data = (df['ts'], t.dt.hour, t.dt.day, t.dt.weekofyear, t.dt.month, t.dt.year, t.dt.weekday)
column_labels = ('ts', 'hour', 'day', 'week', 'month', 'year', 'dayofweek')
time_data

/var/folders/48/9b_1nhmd64d2hbpc2ycpg1gc0000gn/T/ipykernel_81149/2610486479.py:3: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  time_data = (df['ts'], t.dt.hour, t.dt.day, t.dt.weekofyear, t.dt.month, t.dt.year, t.dt.weekday)

(0     1541903636796
 1     1541903770796
 2     1541904034796
 4     1541910973796
 5     1541911006796
           ...
 90    1541970568796
 91    1541970828796
 92    1541971049796
 93    1541979540796
 94    1541979748796
 Name: ts, Length: 73, dtype: int64,
 0     0
 1     0
 2     0
 4     0
 5     0
      ..
 90    0
 91    0
 92    0
 93    0
 94    0
 Name: ts, Length: 73, dtype: int64,
 0     1
 1     1
 2     1
 4     1
 5     1
      ..
 90    1
 91    1
 92    1
 93    1
 94    1
 Name: ts, Length: 73, dtype: int64,
 0     1
 1     1
 2     1
 4     1
 5     1
      ..
 90    1
 91    1
 92    1
 93    1
 94    1
 Name: ts, Length: 73, dtype: int64,
 0     1
 1     1
 2     1
 4     1
 5     1
      ..
 90    1
 91    1
 92    1
 93    1
 94    1
 Name: ts, Length: 73, dtype: int64,
 0     1970
 1     1970
 2     1970
 4     1970
 5     1970
       ...
 90    1970
 91    1970
 92    1970
 93    1970
 94    1970
 Name: ts, Length: 73, dtype: int64,
 0     3
 1     3
 2     3
 4     3
 5     3
      ..
 90    3
 91    3
 92    3
 93    3
 94    3
 Name: ts, Length: 73, dtype: int64)

In [17]:
time_df = pd.DataFrame(dict(zip(column_labels, time_data)))
time_df.head()
#time_df

              ts  hour  day  week  month  year  dayofweek
0  1541903636796     0    1     1      1  1970          3
1  1541903770796     0    1     1      1  1970          3
2  1541904034796     0    1     1      1  1970          3
4  1541910973796     0    1     1      1  1970          3
5  1541911006796     0    1     1      1  1970          3

#### Insert Records into Time Table
Implement the `time_table_insert` query in `sql_queries.py` and run the cell below to insert records for the timestamps in this log file into the `time` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `time` table in the sparkify database.

In [18]:
for i, row in time_df.iterrows():
    cur.execute(time_table_insert, list(row))
    conn.commit()

Run `test.ipynb` to see if you've successfully added records to this table.

## #4: `users` Table
#### Extract Data for Users Table
- Select columns for user ID, first name, last name, gender and level and set to `user_df`

In [19]:
user_df = df[['userId', 'firstName', 'lastName', 'gender', 'level']]
user_df.head()

  userId firstName   lastName gender level
0     69  Anabelle    Simpson      F  free
1     69  Anabelle    Simpson      F  free
2     69  Anabelle    Simpson      F  free
4     32      Lily      Burns      F  free
5     75    Joseph  Gutierrez      M  free

#### Insert Records into Users Table
Implement the `user_table_insert` query in `sql_queries.py` and run the cell below to insert records for the users in this log file into the `users` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `users` table in the sparkify database.

In [22]:
for i, row in user_df.iterrows():
    cur.execute(users_table_insert, row)
    conn.commit()

Run `test.ipynb` to see if you've successfully added records to this table.

## #5: `songplays` Table
#### Extract Data and Songplays Table
This one is a little more complicated since information from the songs table, artists table, and original log file are all needed for the `songplays` table. Since the log file does not specify an ID for either the song or the artist, you'll need to get the song ID and artist ID by querying the songs and artists tables to find matches based on song title, artist name, and song duration time.
- Implement the `song_select` query in `sql_queries.py` to find the song ID and artist ID based on the title, artist name, and duration of a song.
- Select the timestamp, user ID, level, song ID, artist ID, session ID, location, and user agent and set to `songplay_data`

#### Insert Records into Songplays Table
- Implement the `songplay_table_insert` query and run the cell below to insert records for the songplay actions in this log file into the `songplays` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `songplays` table in the sparkify database.

In [25]:
for index, row in df.iterrows():

    # get songid and artistid from song and artist tables
    cur.execute(songs_select, (row.song, row.artist, row.length))
    results = cur.fetchone()
    
    if results:
        songid, artistid = results
    else:
        songid, artistid = None, None

    # insert songplay record
    songplay_data = ()
    cur.execute(songplays_table_insert, songplay_data)
    conn.commit()

ProgrammingError: can't execute an empty query

Run `test.ipynb` to see if you've successfully added records to this table.

# Close Connection to Sparkify Database

In [ ]:
conn.close()

# Implement `etl.py`
Use what you've completed in this notebook to implement `etl.py`.